PROJETO: projeto simples de um barzinho que vende espetinhos variados, pasteis, bebidas (cervejas, cajacas, refrigerantes).

Faca a pagina inicial como se fosse uma plataforma que venda organizacao e clareza para pequenos negocios

Nao use icones de emojis, use icones de bibliotecas proprias para isso.


Pense sempre de forma organizada de acordo com o framework Angular, components, services, etc...

